@using CoreDepartman.Models
@model List<Personel> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PerId</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>
            <td>@x.Depart.DepartmanAd</td>
            <td><a href="/Personel/Index/@x.PerId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/ındex/@x.PerId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Personel/YeniPersonel/" class="btn btn-primary">Yeni Personel</a>

